* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

a {
  text-decoration: none;
}

.admin-main {
  flex-grow: 1;
  background-color: #f3f4f6;
  overflow: auto;
}

.main-content {
  min-height: 100vh;

}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
