.footer {
  background-color: #0072c6;
  color: white;
  padding: 20px 30px;
  font-family: sans-serif;
}

h4 {
  margin-bottom: 5px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 20px 15px;
}

.footer-col {
  min-width: 200px;
  gap: 30px;
}

.footer-logo {
  width: 80px;
  margin-bottom: 12px;
}

.footer-col p,
.footer-col a {
  font-size: 14px;
  line-height: 1.5;
  color: #e0e0e0;
  text-decoration: none;
}

.footer-links {
  text-align: left;
  padding-left: 0;
}

.footer-links li {
  list-style: none;
  margin-bottom: 8px;
  text-indent: 0;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  color: white;
  margin: 10px 5px;
}

.certifications-top {
  width: 122px;
  height: auto;
}

.certifications-bottom {
  display: flex;
  gap: 2px;
}

.certifications-bottom img {
  width: 60px;
  height: auto;
}